<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>logIn</title>
  </head>
  <body>
      <form  action="" method="post">

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email">

        <label for="password">Password</label>
        <input type="password" name="password"  placeholder="Password">

        <button type="submit">se connecter</button>
        <a href="signUp.html">signUp</a>
      </form>
  </body>
</html>