<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>signUp</title>
  </head>
  <body>
      <form  action="" method="post">
        <label for="pseudo">pseudo</label>
        <input type="text" name="pseudo">

        <label for="email">email</label>
        <input type="email" name="email">

        <label for="confirm_email">confirm email</label>
        <input type="email" name="confirm_email">

        <label for="password">password</label>
        <input type="password" name="password">

        <button type="submit" id="submit">s'enregistrer</button>
      </form>
  </body>
</html>