body{
    background-color: rgba(200, 200, 200, 0.99);
}


.connect {
    margin-top: 70px;
    margin-left: 500px;
    margin-right: 500px;    
    border-radius: 25px;
    background: white; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }


  
h1{

    color: rgba(0, 0, 0, 0.99);
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    font-family: 'Poppins';font-size: 30px;
}

.svg{
    width: 300px; 
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='662' height='10'%3E%3Cline y1='10' x2='662' y2='10' stroke='black' stroke-width='2' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    margin-left: 120px;
}

.flexbox{
    display:flex
}

.connect .flexbox{
    display: flex;
    flex-direction: column;
    padding-left:  40px;
    padding-right: 40px;
}

.label{
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.99);
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 10px;
}

.inputForm{
    border: solid;
    border-color:rgba(200, 200, 200, 0.99) ;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    background: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    font-size: 15px;
    margin-bottom: 10px;
}
::placeholder{
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.99);
}

.boutton{
    margin: 30px 130px;
    border-radius: 10px;
    padding-top:13px;
    padding-bottom: 13px;
    font-family: 'Poppins';
    font-size: 17px;
    color: rgba(0, 0, 0, 0.99);
    border: none;
    background:linear-gradient(#DD7A05, #EC19A4);;
}
p{
    color: rgba(0, 0, 0, 0.99);
    font-family: 'Poppins';
    font-size: 13px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.left{
    position:fixed;
    background: white; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 

}

.left a{
    text-decoration: none;    
}

.left li{
    border-top: 2px solid #ccc; 
    margin-bottom:10px ;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.99);
    padding-top: 10px;
}

.left li a{
    color:black;
    padding-left: 100px;
    padding-right: 100px;
}



.left .inputForm {

    margin-left: 5px;
    margin-right: 5px;
    width: 200px; 
    height: 10px; 
    font-size: 13px;
    padding-left: 30px; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27a6.5 6.5 0 1 0-1 1l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0a4.5 4.5 0 1 1 0-9a4.5 4.5 0 0 1 0 9z' /%3E%3C/svg%3E");
    background-size: 20px; 
    background-repeat: no-repeat;
    background-position: 5px center; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }

  .chat{
    margin-left: 270px;
    background: white; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border-radius: 15px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .chat .toSend{
    margin-left: 25px;
    padding-right:700px ;
  }

