body{
    background-color: rgba(200, 200, 200, 0.99);
    overflow: hidden;
}


.connect {
    margin-top: 70px;
    margin-left: 35%;
    margin-right: 35%;    
    border-radius: 25px;
    background: white; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }


  
h1{

    color: rgba(0, 0, 0, 0.99);
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
}

.svg{
    margin-right: 20%; 
    height: 20px;
    border-top: 2px solid black;
    margin-left: 20%;
}

.flexbox{
    display:flex
}

.connect .flexbox{
    display: flex;
    flex-direction: column;
    padding-left:  10%;
    padding-right: 10%;
}

.label{
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.99);
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 10px;
}

.inputForm{
    border: solid;
    border-color:rgba(200, 200, 200, 0.99) ;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    background: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    font-size: 15px;
    margin-bottom: 10px;
}
::placeholder{
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.99);
}

.boutton{
    margin: 30px 30%;
    border-radius: 10px;
    padding-top:13px;
    padding-bottom: 13px;
    font-family: 'Poppins';
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    background:linear-gradient(#DD7A05, #EC19A4);;
}
.boutton:hover {
    transform: scale(1.1);
}
p{
    color: rgba(0, 0, 0, 0.99);
    font-family: 'Poppins';
    font-size: 13px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.left{
    background: white; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 

}

.left a{
    text-decoration: none;    
}

.left li{
    border-top: 2px solid #ccc; 
    margin-bottom:10px ;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.99);
    padding-top: 10px;
}

.left li a{
    color:black;
    padding-left: 100px;
    padding-right: 100px;
}



.left .inputForm {

    margin-left: 5px;
    margin-right: 5px;
    width: 200px; 
    height: 10px; 
    font-size: 13px;
    padding-left: 30px; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27a6.5 6.5 0 1 0-1 1l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0a4.5 4.5 0 1 1 0-9a4.5 4.5 0 0 1 0 9z' /%3E%3C/svg%3E");
    background-size: 20px; 
    background-repeat: no-repeat;
    background-position: 5px center; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }

  .chat{
    margin-top: 1vh;
    margin-left: 20px;
    background: white; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 40px;
  }

 

  .chat .toSend{
    margin-left: 30px;
    padding-right:95vh ;
    padding-left: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 15px;
    border: solid;
    border-color:rgba(200, 200, 200, 0.99) ;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Poppins';
    background: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    margin-top: 5vh;
  }
  .chat #isWritting{
    margin-top: 2vh;
    margin-left: 30px;
    font-family: 'Poppins';
    font-style: italic;
    position: fixed;
  }

   .ul-container {
    width: 270px;
    margin-top: 10px;
    height: 75vh;
    overflow: auto;
}


.chat .ul-container {
    margin-left: 5vh;
    padding-right: 100vh;
    height: 81vh;
    overflow: auto;
}

#messages{
    font-family: 'Poppins';
}
.all, .me{
    
    margin-top: 10px;
}



.me+.me, .all+.all{
    margin-top: 0px;
}




.before-newline::after {
    content: '\A'; 
    white-space: pre; 
}

.before-newline {
    color: red;
    line-height: 2; 
}

.all .before-newline {
    color: #2c7bd5;
}

.after-newline {
    color: black;
    padding-left: 5px;
    border-left:solid red ;
}

.all .after-newline {
    border-left:solid #2c7bd5 ;
}






::-webkit-scrollbar {
    width: 12px; 
    background-color: white; 
  }
  
 
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
 .logout{
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
 }
  
 .logout a{
    font-family: 'Poppins';
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: underline;
 }
  
  .error{
    font-family: 'Poppins';
    color : red;
    font-size: 11px;
  }
  .left .error{
    margin-left: 5px;
    position: relative;

  }